.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: auto;
}
.header h1{
  margin: 10px;
  text-align: center;
}
.header img{
  width: 175px;
  margin:5px;
}
header h3{
  margin: 0;
  text-align: center;
}