.App {
  background-color: #8A0D06;
}

.App h1 {
  color: rgb(100, 212, 231);
  
}
.App h2{
  color: rgb(100, 212, 231);
}
.card{
  background-color:rgba(48,16,98,.75);
}
header{
  background-color: rgba(0, 0, 0, 0.25);
}
.footer{
  background-color: #301062;
  color: rgb(210, 246, 252);
}
.infoPanel-A{
  background-color:rgba(48,16,98,.75);

}
.content-A{
  background-color:rgba(48,16,98,.75);
}

.App h3{
  color: rgb(100, 212, 231);
}
h4{
  color: rgb(100, 212, 231);
}
.App h5{
  color: rgb(100, 212, 231);
}
.App h6{
  color: rgb(100, 212, 231);
}
.App p{
  color: white;
}
