.App {
  background-color: #8A0D06;
}

.App h1 {
  font-size: 2.3em;
  color: #9CEAFF;
  
}
.App h2{
  font-size: 20pt;
  color: #9CEAFF;
}

.content-A{
  background-color:rgba(48,16,98,.8);
  border-radius: 45px;
  text-align: center;
  margin: 1.25em;
  padding: 1.5em;
}

h3{
  color: #9CEAFF;
}
h4{
  color: #9CEAFF;
}
h5{
  color: #9CEAFF;
}
h6{
  color: #9CEAFF;
}
p{
  color: #B2B3C8;
}