.App {
  background-color: #8A0D06;
}

.App h1 {
  color: #9CEAFF;
  
}
h2{
  font-size: 550%;
  color: #9CEAFF;
}
h3{
  color: #9CEAFF;
}
h4{
  color: #9CEAFF;
}
h5{
  color: #9CEAFF;
}
h6{
  color: #9CEAFF;
}
p{
  color: #B2B3C8;
}