.footer{
  height:150px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--theme-footer-background);
  color:var(--theme-nav-text)
}

#right-links{
  width: 30%;
  text-align: right;
  margin: 30px auto;
}
#right-links ul{
  padding: 0px 32px 0px 0px
}
#icons{
  display:flex;
  width:40%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
#left-links{
  width: 30%;
  text-align: left;
  margin:  auto 0px;
}
footer a{
  color: white;
}