.App {
  background: var(--theme-page-background);
}
.App h1,h2,h3,h4,h5,h6 {
  color: var(--theme-page-htext);
  font-family: 'Special Elite', cursive;
}
.App p{
  color: var(--theme-page-text);
  font-family: 'Neuton', serif;
  font-size: 1.2em;
}
.infoPanel-A{
  background-color:var(--theme-panel-background);
}
.content-A{
  background-color:var(--theme-contentA-background);
}
.theme-switch{
  float: left;
  width: 150px;
  .btn{
    background-color:var(--theme-btn-background);
    color:var(--theme-btn-text);
  }
}
// .cap-box{
//   background-color: var(--theme-btn-background);
// }
// Small devices (landscape phones, 400px and up)
@media (min-width: 340px) {
  .Main{
    margin: auto;
    width: 95%;
  }
  .content-A{
    border-radius: 35px;
    border: 2px var(--theme-border) solid;
    text-align: center;
    margin: 1.25em;
    padding: 1.5em;
  }
  .cardBtn{
    display: flex;
    flex-direction: row;
  }
  .Headshot,.projects img{
    margin: 10px auto;
    padding: 5px;
  }
  .icon{
    margin: 2%;
  }
  .artist-card,.founder-cards,.project-cards{
    display: flex;
    flex-wrap:wrap;
    }
  .artisans,.founders,.projects{
    width:75%;
  }
  .panels{
    display: flex;
    flex-direction: column;
  }
  .infoPanel-A{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1.25em;
    padding: 1.125em;
    border-radius: 25px;
    border: 2px var(--theme-border) solid;
    justify-content: center;
    align-content: center;
    margin: 20px auto ;
    width: 55%;
  }
  .panelImg{
    margin: 5px auto;
    width: 75%;
   }

  .nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-nav-background); 
  }
  .nav-container{
    display: flex;
    justify-content: center;

  }
  .user-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content:right;
    align-items:flex-end;
    text-align: right; 
  }
  #user-nav{
    justify-content: right;
  }
  .user-auto{
    align-items: flex-end;
    text-align: right;
  }

  .user-menu, .site-menu{
    width: 46%;
  }
  .theme-switch{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 580px) {

  .founders,.artisans{
    width: 45%;
  }
  .artist-cards,.project-cards,.founder-cards{
    display: flex;
    flex-wrap:wrap;
    margin: 10px auto;
    }
  .projects{
    width:65%;
  }
  .panels{
    display: flex;
    flex-direction: row;
  }
  .infoPanel-A{
    width: 30%;
  }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .infoPanel-A{
    width: 25%;
  }
  .founders,.artisans{
    width:30%;
  }
  .projects{
    width:45%;
  }

}