.App {
  background: var(--theme-page-background);
}
.App h1,h2,h3,h4,h5,h6 {
  color: var(--theme-page-htext);
  font-family: 'Special Elite', cursive;
}
.App p{
  color: var(--theme-page-text);
  font-family: 'Neuton', serif;
  font-size: 1.2em;
}
.infoPanel-A, .content-A{
  background-color:var(--theme-panel-background);
}


// Small devices (landscape phones, 400px and up)
@media (min-width: 400px) {
  .App h1 {
    font-size: 2.6rem;
  }
  .App h2{
    font-size: 2.2em;
  }
  .App h3{
    font-size: 1.9em;
    text-align: center;
    margin: 25px auto;
  }
  .Home{
    margin: auto;
    width: 95%;
  }
  .content-A{
    border-radius: 35px;
    border: 2px black solid;
    text-align: center;
    margin: 1.25em;
    padding: 1.5em;
  }
  .footer {
    height:150px;
    display: flex;
    justify-content: space-evenly;
    border-top: 3px ridge black;
  }
  .cardBtn{
    display: flex;
    flex-direction: row;
  }
  .projects img{
    width: 50%;
    margin: auto;
    padding: 5px;
  }
  .icon{
    margin: 2%;
  }
  .Headshot{
    margin: 10px auto;
  }
  .founder-cards{
  display: flex;
  flex-wrap:wrap;
  }
  .founder-cards{
    display: flex;
    flex-wrap:wrap;
    }
  .founders{
    width:75%;
  }
  .panels{
    display: flex;
    flex-direction: column;
  }
  .infoPanel-A{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1.25em;
    padding: 1.125em;
    border-radius: 25px;
    border: 2px black solid;
    justify-content: center;
    align-content: center;
    margin: 20px auto ;
    width: 55%;
  }
  .panelImg{
    margin: 5px auto;
    width: 75%;
    border:4px var(--theme-page-background) solid;
    border-radius: 40%;
   }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .founder-cards{
    display: flex;
    flex-wrap:nowrap;
    margin: 10px auto;
    }
  .founders{
    width:30%;
  }
  .panels{
    display: flex;
    flex-direction: row;
  }
  .infoPanel-A{
    width: 30%;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .infoPanel-A{
    width: 25%;
  }
  .founders{
    width:22.5%;
  }
}