
@import "../../node_modules/bootstrap/scss/bootstrap";


.card{
  background-color:var(--theme-card-background);
  border: 2px black solid;
  width: 70%;
}
.card h1,h2,h3,h4,h5,h6{
  color: var(--theme-page-htext);
}
.card p{
  color: var(--theme-page-text);
}

.btn{
  color: var(--theme-btn-text);
  background-color:var(--theme-btn-background);
  border:1px black solid ;
  width:45%;
  margin: 8px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
