@import "../../node_modules/bootstrap/scss/bootstrap";

.card{
  background-color:var(--theme-card-background);
  border-radius: 35px;
  border: 2px black solid;
  margin: 25px auto;
}
.card h1,h2,h3,h4,h5,h6{
  color: var(--theme-page-htext);

}
.card-img{
  width: 85%;
  border-radius: 25px;
}
.card p{
  color: var(--theme-page-text);
}
.btn{
  color: var(--theme-btn-text);
  background-color:var(--theme-btn-background);
  font-family: 'Neuton', serif;
  border:1px black solid ;
  width:45%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar{
  // background-color: var(--theme-nav-background);
  flex-wrap: nowrap;
}
.navbar .container{
  flex-wrap: wrap;
}
.dropdown-item{
  color:var(--theme-btn-text);
  text-align: center;
}
.dropdown-menu{
  background-color: var(--theme-nav-background);
}
.carousel{
  width: 80%;
  margin: 10px auto;
  border: black 2px solid;
}
.carousel-caption{
  height: 20%;
  background-color: var(--theme-nav-background);
  color: var(--theme-nav-text)
}
