
@media (min-width: 340px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: auto;
  }
  .logo{
    width: 40%;
  }
}
@media (min-width: 580px) {
  .logo{
    width: 43%;
  }
}
@media (min-width: 992px) { 
  .logo{
    width: 45%;
  }
}