
.light {
  --theme-body-background: rgb(255,255,255);
  --theme-page-background: rgba(177,126,15,0.6);
  --theme-page-text: rgb(17,17,17);
  --theme-page-htext: rgb(0,0,0);
  --theme-nav-background:rgba(0,0,0,.80);
  --theme-card-background: rgba(151,183,191,0.70);
  --theme-footer-background: rgba(69,185,201,.50);
  --theme-contentA-background:rgb(69,185,201,.70);
  --theme-panel-background:rgb(151,183,191,0.70);
  --theme-carousel-caption-bg: rgba(158,221,240,.5);
  --theme-nav-text:rgb(255, 255, 255);
  --theme-btn-background: rgba(255,255,255,0.55);
  --theme-btn-text:rgb(0, 0, 0);
  --theme-border:rgb(0,0,0);
  --theme-logo-bg:rgba(0,0,0,0);
}

.dark {
  --theme-body-background: rgb(0,0,0);
  --theme-page-background: rgb(20,18,18);
  --theme-page-text: rgb(255,255,255);
  --theme-page-htext: rgb(245, 225, 40);
  --theme-nav-background:rgba(65,0,0,0.60);
  --theme-card-background:rgba(151,183,191,0.70);
  --theme-footer-background: rgb(145,50,0);
  --theme-panel-background:rgba(151,183,191,0.70);
  --theme-nav-text:rgb(255, 255, 255);
  --theme-btn-background: rgba(65,0,0,0.35);
  --theme-carousel-caption-bg: rgba(65,0,0,0.60);
  --theme-btn-text:rgb(255, 255, 255);
  --theme-contentA-background:rgba(145,50,0,.75);
  --theme-border:rgba(85,0,0,.95);
  --theme-logo-bg:rgba(245, 225, 40,.5);
}